<%= form_with(url: admin_brackets_path, local: true) do %>
  <div class="container" style="margin: 5px; border: 3px; padding: 5px; text-align: center">
    <div class="row">
      <% @rounds.each_with_index do |matchups, round| %>
        <div class="col-sm">
          <h3>Round <%= round + 1 %></h3>
          <%
            padding = case round
              when 0 then 0
              when 1 then 16
              when 2 then 50
              when 3 then 100
              end
          %>
          <% matchups.each do |matchup| %>
            <div class="form-group" style="padding: <%= padding %>% 0">
              <%= label_tag(:matchup_winners, "#{matchup.title}") %>
              <%= select(
                :matchup_winners,
                matchup.id,
                options_for_select(matchup.select_choices, matchup.winner),
                { prompt: "Which Will Scruffy Snarf?" },
                class: "form-control",
              ) %>
            </div>
            <% if round == 3 %>
              <%= submit_tag("Submit", class: "btn btn-primary") %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
