<div class="container" style="margin: 5px; border: 3px; padding: 5px; text-align: center;">
  <div>
    <h1>Bracket: <%= @bracket.name %> (<%= @bracket.score %>)</h1>
    <%= link_to("Back to Brackets", brackets_path, class: "btn btn-primary") %>
  </div>
  <div class="row">
    <div class="col-sm">
      <h1>Round 1</h1>
      <ul>
        <% BracketMatchup.where(matchup_id: Matchup.where(round: 1), bracket: @bracket).order(:id).each do |bracket_matchup| %>
          <%
            html_class =
              if bracket_matchup.correct.nil?
                ""
              elsif bracket_matchup.correct?
                "text-success"
              else
                "text-danger"
              end
          %>
          <li style="padding: 2%; border-style: solid; border-width: 2px; margin: 20px; border-radius: 30px;" class=<%= html_class %>>
            <%= bracket_matchup.choice %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm">
      <h1>Round 2</h1>
      <div style="height: 3%"></div>
      <ul>
        <% BracketMatchup.where(matchup_id: Matchup.where(round: 2), bracket: @bracket).order(:id).each do |bracket_matchup| %>
          <%
            html_class =
              if bracket_matchup.correct.nil?
                ""
              elsif bracket_matchup.correct?
                "text-success"
              else
                "text-danger"
              end
          %>
          <li style="padding: 2%; border-style: solid; border-width: 2px; margin: 30px 10px; border-radius: 30px;" class=<%= html_class %>>
            <%= bracket_matchup.choice %>
          </li>
          <div style="margin: 26%;"></div>
        <% end %>
      </ul>
    </div>
    <div class="col-sm">
      <h1>Semi-Final</h1>
      <div style="height: 15%"></div>
      <ul>
        <% BracketMatchup.where(matchup_id: Matchup.where(round: 3), bracket: @bracket).order(:id).each do |bracket_matchup| %>
          <%
            html_class =
              if bracket_matchup.correct.nil?
                ""
              elsif bracket_matchup.correct?
                "text-success"
              else
                "text-danger"
              end
          %>
          <li style="padding: 2%; border-style: solid; border-width: 2px; margin: 20px; border-radius: 30px;" class=<%= html_class %>>
            <%= bracket_matchup.choice %>
          </li>
          <div style="margin: 50%;"></div>
        <% end %>
      </ul>
    </div>
    <div class="col-sm">
      <h1>Final Round</h1>
        <div style="height: 30%"></div>
        <ul>
        <% BracketMatchup.where(matchup_id: Matchup.where(round: 4), bracket: @bracket).each do |bracket_matchup| %>
          <%
            html_class =
              if bracket_matchup.correct.nil?
                ""
              elsif bracket_matchup.correct?
                "text-success"
              else
                "text-danger"
              end
          %>
          <li style="padding: 2%; border-style: solid; border-width: 2px; margin: 20px; border-radius: 30px;" class=<%= html_class %>>
            <%= bracket_matchup.choice %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
